/*la page prend toute la hauteur de la fenêtre */
html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*définis la couleur de la page, la couleur du texte et la police d'ecriture*/
body{

    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'rubik';   

}
/* Zone de contenu principal */
.content {
    flex: 1; /* Prend tout l'espace disponible, poussant le footer vers le bas */
    padding: 20px;
    background-color: #f1f1f1;
}

/*Vue Téléphone*/
@media (min-width : 292px ) and (max-width : 767px ) {

    #aaside{

        display: none;

    }

    /*le footer*/
    footer{

        background-color: rgb(255, 255, 255);
        padding: 10px;
        display: flex;
        flex-flow: row wrap;

    }

}

/*Vue Tablette*/
@media (min-width : 293px ) and (max-width : 1199px ) {

    #aaside{

        display: none;

    }

    /*le footer*/
    footer{

        background-color: rgb(255, 255, 255);
        padding: 10px;
        display: flex;
        flex-flow: row wrap;

    }

}

/*Vue Pc*/
@media (min-width : 1200px ) and (max-width : 2500px ) {

    #name-site{

        display: none;

    }

    /*le footer*/
    footer{

        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    
    }

    /*le aside*/
    #aaside{

        display: flex;
        flex: 20%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-image: url(images/banderole.jpg);

    }

}



/*le footer*/
#main{

    display: flex;
    flex-direction: row-reverse; 

}

#name-site{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

/*le footer*/
#aarticle{

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;   

}
/*le footer*/
#boite{

    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}
/*le footer*/
#formdiv{

    display: flex;
    justify-content: center;
    padding: 12px;   

}

#conditions{

    display: flex;
    background-color: rgba(152, 152, 152, 0.5); /* Fond semi-transparent */
    border-radius: 8px;          /* Optionnel : arrondit les bords */


}
#margine{

    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;

}
#rester{

    display: flex;
    background-color: rgba(152, 152, 152, 0.5); /* Fond semi-transparent */
    border-radius: 8px;          /* Optionnel : arrondit les bords */
    flex-direction: row;

}
footer{

    font-size: 16px;

}

#indication{

    display: flex;
    flex: 1;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
    gap: 5px;

}

#box_indication{

    display: flex;
    flex-direction: column;
    background-color: rgba(32, 68, 183, 0.1); /* Fond semi-transparent */
    border-radius: 8px;          /* Optionnel : arrondit les bords */
    border:        1px solid #474f7e;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex: 1;

}

#element-left:hover{

    background-color: rgba(83, 83, 83, 0.5); /* Fond semi-transparent */
    border-radius: 1000px;          /* Optionnel : arrondit les bords */

}

